{% load static %}
<html lang="en">
  <head>
    <title>Assorted Thoughts</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/globe.png' %}"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <!--Header/jumbotron-->
    {% if request.path == "/" %} <!--Only display jumbotron if user is on the front page-->
    <div class="jumbotron text-center" style="margin-bottom: 0">
      <h1>Assorted Thoughts</h1>
    </div>
    {% endif %}
    <!--End of jumbotron-->

    <!--Navbar-->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top"> <!--TODO: Decide if it will remain sticky-->
      <a class="navbar-brand" href="/">Assorted Thoughts</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar"> 
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'archive' %}">Archive</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'portfolio' %}">Portfolio</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a href="{% url 'post_new' %}" class="nav-link">Submit</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <!--End of header/navbar-->

    <!--Post list and sidebar-->
    {% block content%}
    {% endblock %}

    </div>
  </body>
</html>
