{% extends 'journal/base.html' %}
{% load static%}

{% block content %}
  <div class="container" style="margin-top: 30px">
  <div class="row">

    <!--Post list-->
    <div class="col-sm-8">
      {% for post in posts %}
    <div class="post">
      <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
      <p class="preview">{{ post.text|truncatechars:600 }}</p>
      <div class="date">
        {{ post.published_date }}
      </div>
      <a style="text-decoration: none" href="{% url 'post_detail' pk=post.pk %}"><button type="button" class="btn btn-warning btn-block postbtn">
        Read more
      </button></a>
    </div>
    {% endfor %}
    </div>
    <!--End of post list-->

    <!--Sidebar-->
    <div class="col-sm-4">
      <h2>About Me</h2>
      <img class="img-fluid" src="{% static 'images/biopic.jpg' %}" alt="Portrait of me">
      <p>My name is Jørgen Borchgrevink and I'm a 22 year old student from Oslo, Norway.
        I'm currently a finalist at the University of St Andrews, studying International Relations
        and Economics.
      </p>
      <hr class="d-sm-none">
    </div>
    <!--End of sidebar-->
  </div>

{% endblock %}

